
#root > .card {
    max-width: 400px;
    margin: 10px auto;
  }

  .container__details {
    display: flex;
    flex-flow: column wrap;
    margin: 1em;
    box-shadow:0 4px 10px 0 rgba(7, 83, 182, 0.2),0 4px 20px 0 rgba(131, 5, 53, 0.19);
    border-radius: 8px;
    background-color: rgb(255, 255, 255);

  }

  .container__image__layout {
    display: flex;
    max-height: 30vh;
    background-color: #657ba6;

  }

  .container__image__layout img {

    height: 100%;
    width: auto;
  }

  .container__picture {
    flex: 2;
    background-color: #8c0303;
    box-shadow:0 4px 10px 0 rgba(7, 83, 182, 0.2),0 4px 20px 0 rgba(131, 5, 53, 0.19);
    
  }

  .container__tinylink {
    flex: 2;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    box-shadow:0 4px 10px 0 rgba(7, 83, 182, 0.2),0 4px 20px 0 rgba(131, 5, 53, 0.19);

  }

  .container__details__buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    font-size: 1.2em;
    border-radius: 5px;
  
  }

  .container__details__buttons > button {
    border: none;
    background-color:inherit;
    font-size: 1.5em;
    margin: 0 1em 1em 0;
  }

  
  .buttonCollectionDelete {
    color: #8c0303;
  }

.container__details__options {
  display: flex;
  flex-flow: row nowrap;
  justify-items: flex-start;
  margin-bottom: 0;
}

.container__details__content__location {
  flex: 2;
  margin-bottom: 0;

}

.container__options {
  flex: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}


.container__miscInfo {
  margin: 1em 0 1em 0;
}

  .container__details__content {
    background-color: antiquewhite;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    padding: 1em 1em 0 1em;
  }

.container__hours__other {
  display: flex;
  flex-flow: row nowrap;
}

.container__details__content__hours {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  text-align: justify;
}


.container__details__content__hours > h4 {
  margin: 1em 0 1em 0;

}

.container__other {
  flex: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: first baseline;
  text-align: justify;
}

.container__other > h4 {
  margin: 1em 0 1em 0;

}

.container__details__features {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.button__edit__ppe  {
  font-size: 1.2em;
  margin: 0 .2em;
  border-radius: 5px;
  background-color: inherit;
  color: #8c0303;
  border: none;
}

  .div__detail {
    margin-top: 1em;
  }
.card__detail__features {
  display: flex;
  flex-flow: row wrap;
}

button:disabled,
button:disabled:hover {
  background-color: lightgray;
}

fieldset {
  max-width: 60em;
  padding: 4px;
  margin: 2em auto;
  border: 0 none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 8px;
  background-color: #8c0303;
  box-shadow:0 4px 10px 0 rgba(7, 83, 182, 0.2),0 4px 20px 0 rgba(131, 5, 53, 0.19);

  }

fieldset input, fieldset button, fieldset select{
  box-sizing: border-box;
  padding: .2em .4em;
  margin: .2em 0;
  outline: none;
  box-shadow: none;
}

fieldset button {
  max-width: 9em;
  padding: .5em;
  margin: .3em 1vw;
  background-color: #657ba6;
  border: none;
  color: cornsilk;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 2px;
  width: 100%;
  cursor: pointer;
}

textarea {
  width: 40vw;
}

fieldset label {
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  text-align: right;
}
fieldset input:focus + label {
  color: #933;
}

.formgrid {
  background-color: #8c0303;
  color: #f2e1c2;
  border-radius: 8px;
}

fieldset .formgrid {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  background-color: #8c0303;
  color: #f2e1c2;
}


fieldset .alignRight {
  text-align: right;
}

input, label {
  display:block;
}

.restaurant__header {
  margin: 0 0 1em 0;
}


.container__user__ratings {
  display: flex;

}
.container__ratings__array {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  min-height: 20vh;
  padding: 1vh .1vw;
  font-size: 1em;
  margin-right: 1vw;
  background-color: #ffe48b;
  border-radius: 8px;
}
  
.container__ratings__form {
  flex-grow: 1;
  min-height: 20vh;
  background-color: #ffe48b;
  border-radius: 8px;
  box-shadow:0 4px 10px 0 rgba(7, 83, 182, 0.2),0 4px 20px 0 rgba(131, 5, 53, 0.19);

}


.container__ratings__master {
  display: flex;
  flex-flow: row nowrap;
  background-color: #ffe48b;
  border-radius: 8px;
}

.container__ratings__header {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 0;
}

.container__ratings__content {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  margin: 0 1em 1em 1em;
  width: 70%;
}

.container__ratings__header > li {
  flex: 3;
  list-style-type:none;
  margin: 0;
}

.container__ratings__buttons {
  flex: 1;
  margin: 0;
  padding: 0;

}

.hidden {
  display: none;
}

button {
  font-size: 1.2em;
  margin: 0 .2em;
  border-radius: 5px;
  background-color: inherit;
  color: #8c0303;
  border: none;

}

.blueButton {
  color: blue;
  font-size: 2em;
  transition: all 0.8s
}