
.container__home {
    height: 100vh;
    width: auto;
    background-image: url("../nav/images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}