@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
  font-family: 'Lato', sans-serif;
  margin: 0;
}


.App {

  text-align: center;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.section-content {
  padding: 0;

}

.container__header {
  color: #8c0303;
  font-weight: 600;
}

.container__header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  height: 5vh;
  box-shadow:0 4px 10px 0 rgba(7, 83, 182, 0.2),0 4px 20px 0 rgba(131, 5, 53, 0.19);
  border-radius: 5px;
}

/* Base Card Container */
.card-custom {
  margin: 1em 0 1em 0;
  box-shadow:0 4px 10px 0 rgba(7, 83, 182, 0.2),0 4px 20px 0 rgba(131, 5, 53, 0.19);
  border-radius: 8px;
  
}
.card__image {
  display: flex;
  flex-flow: row;
  background-color: #657ba6;
  height: 100%;
  width: 100%;
  margin: 0;
  justify-content: center;
  text-align: center;
  position: relative;
  border-radius: 10px;
  box-shadow:0 4px 10px 0 rgba(7, 83, 182, 0.2),0 4px 20px 0 rgba(131, 5, 53, 0.19);
  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
    
  }
    
}
.card__image > .card-img {

  /* height: 100%;
  width: auto; */
}


/* Top Card Container */
.card-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  flex-grow: 1;
  /* padding-left: 1em; */
  margin-bottom: 1em;
  font-size: 1.3vw;
  box-shadow:0 4px 10px 0 rgba(15, 77, 223, 0.2),0 4px 20px 0 rgba(4, 37, 90, 0.19);
  border-radius: 5px;
}

p {
margin-left: 1em;
margin-top: -10px;
}

a {
  color: #657ba6;
}

.article__diningOptions {
  margin: .5em 0 .5em 0;
  box-shadow:0 4px 10px 0 rgba(15, 77, 223, 0.2),0 4px 20px 0 rgba(4, 37, 90, 0.19);
  border-radius: 10px;
}

.card-deck {
  justify-content: center;
  margin: .1em;
}

@media (min-width:34em) {
  .card-deck > .card
  {
      
      width: 28%;
      flex-wrap: wrap;
      flex: initial; 
  }
}

.card-body {
  box-shadow:0 4px 10px 0 rgba(15, 77, 223, 0.2),0 4px 20px 0 rgba(4, 37, 90, 0.19);
  border-radius: 10px;
}