/* 
https://work.smarchal.com/twbscolor/4.0.0/css/8c0303657ba6f2e1c2d5d95b0
Include Bootstrap assets
//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js
//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css
//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js
Copy the generated SCSS/SASS/LESS/CSS
SCSS
SASS
LESS
CSS */
.navbar {
  background-color: #8c0303;
}
.navbar .navbar-brand {
  color: #f2e1c2;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #d5d95b;
}
.navbar .navbar-text {
  color: #f2e1c2;
}
.navbar .navbar-text a {
  color: #d5d95b;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #d5d95b; 
}
.navbar .navbar-nav .nav-link {
  color: #f2e1c2;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #d5d95b;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #d5d95b;
  background-color: #657ba6;
}
.navbar .navbar-toggle {
  border-color: #657ba6;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #657ba6;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #f2e1c2;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #f2e1c2;
}
.navbar .navbar-link {
  color: #f2e1c2;
}
.navbar .navbar-link:hover {
  color: #d5d95b;
}

@media (max-width: 411) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #f2e1c2;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #d5d95b;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #d5d95b;
      background-color: #657ba6;
    }
  }

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f2e1c2;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #d5d95b;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #d5d95b;
    background-color: #657ba6;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f2e1c2;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #d5d95b;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #d5d95b;
    background-color: #657ba6;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f2e1c2;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #d5d95b;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #d5d95b;
    background-color: #657ba6;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f2e1c2;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #d5d95b;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #d5d95b;
    background-color: #657ba6;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #f2e1c2;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #d5d95b;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #d5d95b;
  background-color: #657ba6;
}
